//////////placeholder//////////
%duration-animate3-5s{
  -webkit-animation-duration: 3.5s;
  -moz-animation-duration: 3.5s;
  -ms-animation-duration: 3.5s;
  -o-animation-duration: 3.5s;
  animation-duration: 3.5s;
}

%duration-animate9s{
  -webkit-animation-duration: .9s;
  -moz-animation-duration: .9s;
  -ms-animation-duration: .9s;
  -o-animation-duration: .9s;
  animation-duration: .9s;
}

%duration-animate9-5s{
  -webkit-animation-duration: 9.5s;
  -moz-animation-duration: 9.5s;
  -ms-animation-duration: 9.5s;
  -o-animation-duration: 9.5s;
  animation-duration: 9.5s;
}

%duration-animate28-5s{
  -webkit-animation-duration: 28.5s;
  -moz-animation-duration: 28.5s;
  -ms-animation-duration: 28.5s;
  -o-animation-duration: 28.5s;
  animation-duration: 28.5s;
}

%gera-spin-reverse{
  -webkit-animation-name: gearSpinReverse;
  -moz-animation-name: gearSpinReverse;
  -ms-animation-name: gearSpinReverse;
  -o-animation-name: gearSpinReverse;
  animation-name: gearSpinReverse;
}

%move-mesa{
  -webkit-animation-name: EmoveMesa;
  -moz-animation-name: EmoveMesa;
  -ms-animation-name: EmoveMesa;
  -o-animation-name: EmoveMesa;
  animation-name-name: EmoveMesa;
}