.header{
  height: 95px;
  background: #242d31 url(../img/header-bg.png);
}

#cont-header {
  position: relative;
  width: 880px;
  height: 95px;
  margin: 0 auto;
  margin-top: -1px;
  overflow: hidden;

  #loga {
    top: -9999;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99999px;
    display: block;
    margin: 0;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 255px;
    height: 56px;
    background: url(../img/logo.png)
  }

  #loga a {
    display: block;
    width: 100%;
    height: 100%
  }

  #loga #o {
    display: block;
    position: absolute;
    top: 0;
    left: 198px;
    width: 33px;
    height: 33px;
    background: url(../img/o.png);
    background: url(../img/o.svg),none;
    background-size: 100%
  }

  #engreMaster {
      position: absolute;
      top: 32px;
      left: 135px;
      width: 265px;
      height: 265px;
      background: url(../img/engrenagem-master.png);
      background: url(../img/engrenagem-master.svg),none;
      background-size: 100%
  }    

  h2,h3 {
      position: absolute;
      top: -9999;
      left: -9999px;
      width: 1px;
      height: 1px;
      overflow: hidden;
      text-indent: -99999px;
  }    
}


#cont-header #pista {
  position: absolute;
  bottom: 0;
  left: 355px;
  width: 400px;
  height: 94px;
  background: url(../img/pista.png);
  background: url(../img/pista.svg),none;
  background-size: 100%;

  @media (max-width: 768px){
    left: 330px;
  }

  #engre02 {
      position: absolute;
      top: 5px;
      left: 353px;
      width: 42px;
      height: 42px;
      background: url(../img/engre02.png);
      background-image: url(../img/engre02.svg),none;
      background-size: 100%
  }

  .engreMini {
      position: absolute;
      top: 46px;
      right: 7px;
      width: 28px;
      height: 28px;
      background: url(../img/engrenagem-mini.png);
      background: url(../img/engrenagem-mini.svg),none;
      background-size: 100%
  }

  #e1 {
      position: absolute;
      left: 9px
  }

  #e2 {
      position: absolute;
      left: 59px
  }

  #e3 {
      position: absolute;
      left: 109px
  }

  #e4 {
      position: absolute;
      left: 159px
  }

  #e5 {
      position: absolute;
      left: 209px
  }

  #e6 {
      position: absolute;
      left: 259px
  }

  #e7 {
      position: absolute;
      right: 63px
  }
}
