//mixins
@mixin radius-border{
  border-radius: 5px;
}

@mixin shadow-box{
  -moz-box-shadow: 0 0 5px #bbb;
  -webkit-box-shadow: 0 0 5px #bbb;
  box-shadow: 0 0 5px #bbb;
}

@mixin rotate-100pec ($rotate: 359deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin rotate-50pec ($rotate: 180deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate); 
}

@mixin rotate-25pec ($rotate: 90deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate); 
}

@mixin rotate-0 ($rotate: 0deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate); 
}

@mixin rotate-75pec ($rotate: 270deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin gear-spin{
    -webkit-animation-name: gearSpin;
    -moz-animation-name: gearSpin;
    -ms-animation-name: gearSpin;
    -o-animation-name: gearSpin;
    animation-name: gearSpin;
}

@mixin default-animation {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;  
}